#canvas {
  border: 5px solid black;
  display: block;
  width: 400px;
  height: 400px;
  margin: auto;
}
body {
  text-align: center;
  font-family: Helvetica, sans-serif;
}
.info {
  margin: auto;
  inline-size: 80%;
  overflow-wrap: break-word;
}
